/********************
GENERAL
********************/

body {
	background-image: url('dust_scratches/dust_scratches.png');
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* header and nav */
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

/* main section and sidebar */
.wrapper2 {
	max-width: 960px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

hr { 
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #cccccc;
} 



/********************
HEADING
********************/

header {
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 60px;
	width: 250px;
	float: left;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.75em;
	font-weight: bold;
}



/********************
NAVIGATION
********************/

nav {
	padding-top: 40px;
	padding-bottom: 57px;
	margin-bottom: 40px;
}

nav a {
	padding: 0 20px;
	float: right;
}

/* nav links for large viewports */
nav .large a:nth-child(1) {
	padding-right: 0;
}

nav .large a:nth-child(2) {
	border-right: 1px solid #dbdbdb;
}

nav .large a:nth-child(3) {
	border-right: 1px solid #dbdbdb;
}

/* nav links for small viewport */
.small {
	display: none;
}



/********************
SECTION
********************/

/* MAIN */
.main {
	float: left;
	width: 590px;
	padding: 30px 30px;
	margin-bottom: 40px;
	border: 1px solid #dddddd;
}

#maintitle {
	margin-bottom: 30px;
}

/* ASIDE */
.sidebar {
	width: 210px;
	float: right;
	padding: 10px 30px 20px 30px;
	border: 1px solid #dddddd;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 1.25em;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* horizonatal line */
.thin { 
	display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: .5px;
    color: #cccccc;
}

/* icons */
.logo {
	margin-top: 15px;
}

#logo-third {
	margin-left: 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
 
    /* Position tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* MAIN and ASIDE */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



/********************
FOOTER
********************/

footer {
	text-align: center;
	clear: both;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 10px solid #4aaaa5;
	font-size: .75em;
}



/********************
PAGE: HOME
********************/

#About {
	line-height: 200%;
	margin-top: 20px;
}

.photo {
	float: left;
	margin-right: 30px;
	margin-top: 30px;
}



/********************
PAGE: PORTFOLIO
********************/

/* grid */
#gallery {
	list-style: none;
}

#gallery li {
	float: left;
	padding-left: 0;
}

#gallery li:nth-child(even) {
	float: right;
}

.img {
	width: 275px;
	padding-top: 50px;
	padding-right: 0;
}

#top1, #top2 { /* Top images */
	padding-top: 40px;
}

.img:hover {
	opacity: 0.8;
}

.caption {
	width: 275px;
	padding-right: 0;
}

.caption:hover {
	font-size: 1.23em;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 1.25em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.container { /* image and caption */
	position: relative;
	width: 100%;
}

h2 {
	position: absolute;
	bottom: 10px;
	width: 100%;
}



/********************
PAGE: CONTACT
********************/

.form input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */  
    border: 1px solid #dddddd; /* Gray border */
    border-radius: 0; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 20px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

#fname, #email, #message { /* text inside form */
	font-size: 1em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

#textarea {
  height: 200px;
  font-size: 1em;
  padding: 10px;
}

#submit { /* button */
	font-size: 1em;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #429994;
}

input[type=submit]:active {
    background-color: #337673;
}

.form {
    border-radius: 5px;
    padding: 30px 0 0 0;
}


/********************
GENERAL COLORS
********************/

body {
	color: #777;
}


header {
	background-color: #4aaaa5; /* teal */
}

nav {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
}

section {
	background-color: #fff;
}

footer {
	background-color: #666; /* dark gray */
	color: #ccc; /* light gray */
}

/* TEXT */
.caption { /* portfolio */
	background-color: #4aaaa5; /* teal */
	color: #fff;
}

h1, h3 { /* main and aside */
	color: #4aaaa5; /* teal */
}

#name {
	color: #fff;
}

nav a, nav a:visited {
	color: #777; /* dark gray */
}

nav a:hover {
	text-decoration: underline;
}

nav a.selected {
	color: #ccc; /* light gray */
}



/*******************************
980px and smaller until next size
********************************/
@media screen and (max-width: 980px) {
  
	/* GENERAL */
	.wrapper {
		width: 725px;
	}

	.wrapper2 {
		width: 725px;
	}

	.small {
		display: none;
	}

	/* body */
	.main {
		width: 350px;
	}

	/* PAGE: HOME */
	.photo {
		width: 350px;
		margin-bottom: 20px;
	}

	/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 350px;
	}

	#top2 {
		padding-top: 50px;
	}

	.portbottom {
		padding-bottom: 60px;
	}
}





/* When using % for width of images, I could not get them to float right to keep 
the look of the gallery, so I ended up using multiple break points to try to make
the gallery responsive */






/*******************************
768px and smaller until next size
********************************/
@media screen and (max-width: 768px) {

	/* GENERAL */
	.small {
		display: none;
	}

	.wrapper {
		width: 91%;
	}

	.wrapper2 {
		width: 91%;
	}

	/* body */
		.main {
			width: 91%;
	}
	.sidebar {
		width: 91%;
		float: left;
		margin-bottom: 40px;
	}
	/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 310px;
	}



	#top2 {
		padding-top: 40px;
	}
}



/*******************************
761px and smaller until next size
********************************/
@media screen and (max-width: 761px) {
/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 305px;
	}
}



/*******************************
750px and smaller until next size
********************************/
@media screen and (max-width: 750px) {
/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 300px;
	}
}



/*******************************
735px and smaller until next size
********************************/
@media screen and (max-width: 750px) {
/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 290px;
	}
}



/*******************************
714px and smaller until next size
********************************/
@media screen and (max-width: 714px) {

	.wrapper2 {
		width: 91%;
	}

	/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 100%;
	}

	.img {
		padding-top: 40px;
	}
	
	.portbottom {
		padding-bottom: 50px;
	}

	h2 {
	bottom: 15px;
	}
}

/*******************************
640px and smaller
********************************/
@media screen and (max-width: 640px) {
	/* GENERAL */

	body {
		margin: 0;
		width: 100%;
	}

	.wrapper {
		width: 100%;
	}

	.wrapper2 {
		width: 91%;
	}

	.large {
		display: none;
	}

	.small {
		display: block;
	}

	/* header */
	header {
		margin-left: 0;
		margin-bottom: 20px;
		padding-left: 0;
		width: 100%;
		text-align: center;
	}

	nav {
		margin-bottom: 20px;
		padding-top: 130px;
		padding-bottom: 30px;
		text-align: center;
	}

	nav .small a {
		text-align: center;
		float: none;
		padding: 0 9%;
	}

	nav .small a:nth-child(1) {
		border-right: 1px solid #dbdbdb;
	}

	nav .small a:nth-child(2) {
		border-right: 1px solid #dbdbdb;
	}

	/* body */
	.main {
		width: 90%;
	}

	.sidebar {
		width: 90%;
		float: left;
		margin-bottom: 40px;
	}

	/* PAGE: HOME */
	.photo {
		width: 535px;
		margin-bottom: 20px;
	}

	/* PAGE: PORTFOLIO */
	.img, .caption {
		width: 100%;
	}

	.img {
		padding-top: 40px;
	}
	
	.portbottom {
		padding-bottom: 50px;
	}

	h2 {
	bottom: 15px;
	}
}




